* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: poppins;
  src: url(/assets/font/MochiyPopOne-Regular.ttf);
}
@font-face {
  font-family: poppins-bold;
  src: url(/assets/font/Poppins-Bold.ttf);
}
@font-face {
  font-family: poppins-normal;
  src: url(/assets/font/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-semibold;
  src: url(/assets/font/Poppins-SemiBold.ttf);
}
:root {
  --primary-color-1: #ffb200;
  --primary-color-2: #eb5b00;
  --primary-color-3: #e4003a;
  --primary-color-4: #b60071;
  --secondary-color-1: #99b122;
  --secondary-color-2: #3a9f55;
  --secondary-color-3: #008574;
  --secondary-color-4: #006775;
  --secondary-color-5: #2f4858;

  /* Basic Colors */
  --white: #fefae0;
  --black: #003049;

  /* Fonts */
  --font-main-normal: poppins-normal;
  --font-main-bold: poppins-bold;
  --font-main-semibold: poppins-semibold;
  --font-main-fancy: poppins;
}
body {
  background: var(--black) !important;
  overflow-x: hidden;
}

.sec-p {
  margin-top: 20rem !important;
}
::selection{
  background: #00B8D4 !important;
  color: #ddd;
}
@media screen and (width< 768px) {
  .sec-p {
    margin-top: 10rem !important;
  }
}
.sec-title {
  font-family: var(--font-main-semibold), system-ui;
}

/* -----------------------------------
----------- Nav Section --------------
-------------------------------------- */

/* -----------------------------------
---------- Hero Section --------------
-------------------------------------- */

#hero {
  .container {
    .hero-title {
      font-size: 4rem;
      font-family: var(--font-main-semibold);
    }
    .hero-para {
      font-size: 1.5em;
      font-family: var(--font-main-fancy);
    }
    .hero-form {
      /* background: #fff; */
      box-shadow: none;
      font-family: var(--font-main-fancy);
      .year {
        border: none;
        outline: none;
        padding: 0.5em 1em;
        border-radius: 10px 0 0 10px;
        margin-left: 0;
      }
      .brand {
        border: none;
        outline: none;
        padding: 0.5em 1em;
        border-radius: 0;
        margin-right: 0;
      }
      .name {
        border: none;
        outline: none;
        padding: 0.5em 1em;
        border-radius: 0;
        margin-right: 0;
      }
      .btn-find {
        padding: 0.5em 1em;
        text-align: center;
        border-radius: 0 15px 15px 0;
      }
    }
    @media screen and (width < 768px) {
      .hero-title{
        font-size: 3rem;
      }
      .hero-para{
        font-size: 1em;
      }
      .hero-form {
        font-family: var(--font-main-bold), serif;
      }
    }
    .hero-img {
      max-width: 100%;
    }
  }
}

/* -----------------------------------
--------- About Section --------------
-------------------------------------- */
.about h2 {
  font-family: var(--font-main-semibold), system-ui;
}
.about .card-header {
  font-family: var(--font-main-fancy), serif;
}

/* -----------------------------------
---------- Product Section -----------
-------------------------------------- */

.p-card {
  height: 60vh;
  width: 25%;
  border-radius: 25px;
  padding: 0;
  position: relative;

  .img-box {
    height: 50%;
    width: 100%;
    border-radius: 25px 25px 0 0;
    background: url("/assets/img/product.png") no-repeat;
    background-size: cover;
  }
  .p-card-body {
    color: white;
    padding-left: 1.5em;

    h3 {
      font-family: var(--font-main-semibold), serif;
    }
  }
  .p-card-icons {
    display: flex;
    justify-content: space-around;
    color: white;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
  .p-card-footer {
    color: white;
    display: flex;
    justify-content: space-around;
  }
}

.p-card-title {
  font-family: var(--font-main-semibold), serif;
}
.bookmark:hover {
  background: var(--white);
}

.view-more {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: letter-spacing 0.3s;
}
.view-more:hover {
  letter-spacing: 0.1em;
}

@media screen and (width<992px) {
  .p-card {
    height: 80vh;
    width: 50%;
  }
}

/* -----------------------------------
----------- App Section --------------
-------------------------------------- */

.app-title {
  font-family: var(--font-main-semibold), serif;
}
.app-para {
  font-family: var(--font-main-fancy), serif;
}
.app-img {
  position: relative;
  top: -5em;
}

@media screen and (width<992px) {
  .app {
    top: 750vh;
  }
}
/* -----------------------------------
---------- Footer Section ------------
-------------------------------------- */
#footer {
  height: 10vh !important;
  width: 100%;

  .main-links {
    background: #000;
    ul {
      list-style: none;
      color: var(--white);
    }
  }
}
